.coin__info {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  box-shadow: 0px 6px 11px 0px rgba(63, 81, 181, 0.1);
}

.coin-info__list {
  background: #ffffff;
  padding: 0.7rem;
  flex: 1;
}

.coin-info__list {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  color: gray;
}

.coin-info__list .coin-info-title {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.coin-dropdown {
  width: auto;
  flex: 1;
  background: lavender;
  text-align: center;
}

.coin-dropdown .coin-select {
  width: 100%;
  height: 100%;
  outline: 0px;
  font-size: 2rem;
  color: #3f51b5;
  background-color: lavender;
}

.coin-chart {
  background: #fff;
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.5rem;
  box-shadow: 0px 6px 11px 0px rgba(63, 81, 181, 0.1);
  display: flex;
  flex-direction: column;
}

.coin-chart > div {
  min-width: 90%;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.coin-chart .coin-filter {
  display: flex;
  align-items: center;
}

.coin-name {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 1rem 0rem;
  color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-name .last-update-info .last-updated {
  background: green;
  padding: 2px;
  border: 2px solid green;
  color: white;
  margin-left: 10px;
  border-radius: 4px;
}
.coin-iso,
.last-udpate-title {
  opacity: 0.5;
  padding-left: 4px;
  font-size: 1rem;
  color: gray;
}

.color-primary {
  color: #3f51b5;
}
